.wrapper-class {
  padding: 1rem;
  border: 1px solid #ccc;
  height: 100%;
}
.editor-class {
  background-color: rgb(248, 241, 241);
  padding: 1rem;
  border: 1px solid #ccc;
}
.toolbar-class {
  border: 1px solid #ccc;
}

.preview {
  padding: 1rem;
  margin-top: 1rem;
}
