[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-jwt-extended = "*"
python-decouple = "*"
werkzeug = "==2.1.2"
psycopg2 = "*"
shortuuid = "*"
flask-migrate = "*"
flask-bcrypt = "*"
black = "*"
flask-cors = "*"
pillow = "*"
numpy = "*"
sqlalchemy = "==1.3.24"
flask-marshmallow = "*"

[dev-packages]

[requires]
python_version = "3.10"
